.input-card{
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 2.24rem;
    transition: border-color .15s;
    margin-bottom: 2%;
    width: 100%;
}
.payment-form .rccs {
    margin-bottom: 6%;
}
