.product{
    display: flex;
    flex-direction: column;
    max-height: 400px;
    min-width: 100px;
    z-index: 1;
    width: 100%;
    justify-content: flex-end;
}
.product > img{
    width: 100%;
    height: 40vh;
    object-fit: contain;
}
.goto-btn{
    text-decoration: none;
    border:none;
    border: 1px solid rgba(241,218,191,1);
    color:rgba(241,218,191,1);
    background-color: #362417;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.goto-btn:hover{
    text-decoration: none;
    border: 1px solid #362417;
    color:#362417;
    background-color:rgba(241,218,191,1) ;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.product-title{
    font-size: 50px;
    font-weight: bold;
}
