.banner{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.take-to-category-laptop{
  display: flex;
}
img.img-take-to {
  width: 69%;
}
.take-to-text {
  margin: auto;
  margin-left: 8%;
  font-size: 25px;
}
.take-to-category-laptop {
  margin-top: -20px;
  overflow: hidden;
  display: flex;
  --tw-shadow: 0px 4px 20px rgba(44, 44, 44, 0.1);
  --tw-shadow-colored: 0px 4px 20px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
  width: 95%;
  margin-left: 2.7%;
  position: relative;
  background-color: #F7EFE6;
  border-radius: 21px;
}
/* .banner {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 71vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -73px;
} */
video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* .banner-btn{
    padding: 1% 2%;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    color: #24170f;
    font-size: 20px;
    font-weight: bold;
    margin-top: 30%;
    cursor: pointer;
} */
.homepage{
    width: 100%;
}
.banner-btn{
  text-decoration: none;
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #24170f;
    --c: rgba(255, 255, 255, 0.8); /* the color*/
    
    box-shadow: 0 0 0 .1em inset var(--c); 
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background: 
      var(--_g) calc(var(--_p,0%) - 100%) 0%,
      var(--_g) calc(200% - var(--_p,0%)) 0%,
      var(--_g) calc(var(--_p,0%) - 100%) 100%,
      var(--_g) calc(200% - var(--_p,0%)) 100%;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
   
    transition: background-size .4s, background-position 0s .4s;
  }
.banner-btn:hover {
    color: #24170f;
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
  }
.banner-btnactive {
    box-shadow: 0 0 9e9q inset #0009; 
    background-color: var(--c);
    color: #fff;
  }
  
  
.banner-btn{
    font-family: system-ui, sans-serif;
    font-size: 2.8rem;
    cursor: pointer;
    padding: .1em .6em;
    font-weight: bold;  
    border: none;
  }

  .all-stores {
    width: 87%;
    margin-top: 7%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 7%;
    margin-bottom: 6%;
}

.our-stores {
  text-align: center;
  margin-top: 4%;
  margin-bottom: -4%;
}

@media (max-width:767px) {
  .take-to-category-laptop {
    display: block;
}
.take-to-text {
  margin: auto;
   margin-left: 0%; 
  font-size: 25px;
}
}