.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.rightDiv {
    margin: auto;
}
h2.variant-title {
    font-size: 40px;
    padding-bottom: 30%;
}
.leftDiv {
    padding: 12%;
}
.btn-flex-details{
    border: none;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #24170f;
    padding-top: 17%;

}
button.btn-flex-details.btn-wishlist-details {
    background: transparent;
    cursor: pointer;
    padding-right: 15%;
}
button.btn-flex-details.btn-shopping-details {
    background: transparent;
    cursor: pointer;
}
button.decrease-btn {
    cursor: pointer;
    padding-right: 10%;
    border: none;
    background: transparent;
}
button.increase-btn {
    padding-left: 10%;
    cursor: pointer;
    border: none;
    background: transparent;
}
button.quantity-btn {
    padding-top: 17%;
    font-size: 15px;
}
@media only screen and (max-width:425px){
    .container {
        margin-top: 26%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
.variant-title{
    color: #ffffff;
    background: linear-gradient(to right, #4d4d4d 0, white 10%, #24170f 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 10s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    white-space: nowrap;
  }
  @keyframes shine{
    0%{
      background-position: 0;
    }
    100%{
      background-position: 205px
    }
  }