.header{
    position:fixed;
    border-bottom: 1px solid rgba(153, 82, 0, 0.141);
    background-color: rgba(245, 245, 220, 0.863);
    width:100%;
    top:0;
    z-index: 1000;
}
.header ul {
    display:flex;
    padding-inline:2%;
    justify-content: space-between;
}
.link {
    padding-inline:0.8%;
    padding-block:0.2%;
    border-radius:15px;
    color: black;
    text-decoration: none;
    cursor:pointer;
    transition: background-color .3s ease-in-out
}
.link:hover, .link:focus{
    background-color: rgba(153, 82, 0, 0.245);
}