/* Dashboard CSS */
.dashboard-content {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.sidebar {
    width: 19.9%;
    background-color: #F2E5D5;


}

.pages {
    background-color: #F2E5D5;
    width: 80%;
    border-left: 1px solid #24170f;
}

/* Table with Data CSS */
.table-container {
    border: 1px solid #24170f;
}

.title {
    text-align: left;
}

.create-link {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #24170f;
    font-size: 24px;
    margin-left: auto;
}

.table-img {
    width: 100px;

}

.action-buttons {
    font-size: 20px;
    text-align: center;
}

.delete-button {
    color: #24170f;
    margin-right: 5%;
    margin-left: 5%;
    font-size: 16px;
    transition: 1s;
}
.delete-button:hover {
    font-size: 19px;
    cursor: pointer;
    transition: 1s;
}
.edit-button {
    color: #24170f;
    font-size: 16px;
    transition: 1s;
}
.edit-button:hover {
    font-size: 19px;
    cursor: pointer;
    transition: 1s;
}
.actions-form-container {
    margin-top: 10px;
}


.category-form {
    display: flex;
    flex-wrap: wrap;
}

.product-form {
    display: flex;
    flex-wrap: wrap;
}

.css-b62m3t-container {
    width: 50%;
    position: relative;
    box-sizing: border-box;
}

.productvariant-form {
    display: flex;
    flex-wrap: wrap;
}

.second-row-element {
    text-align: left;
    margin-bottom: 30px;
}

.text-area-input {
    width: 50%;
    display: grid;


}

.sidebar-content {
    padding-left: 4%;
    text-align: initial;
}

.content {
    list-style: none;
    padding: 2%;
}

.elements {
    font-size: 18px;
    font-weight: 700;
    list-style: none;
    padding: 5%;
    cursor: pointer;
}

.sub-elements {
    display: block;
    padding-left: 10%;
}

.hide {
    display: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: white;
}

.main-container {
    padding: 5%;

}

.header-container {
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #24170f;
    padding-bottom: 1%;
}

.store-form {
    display: flex;
    flex-wrap: wrap;
}

.first-row {
    width: 50%;
    text-align: left;
}

.first-row-element {
    margin-bottom: 30px;
}

.second-row {
    width: 50%;
    float: left;
}

.upload-img {
    height: 100px;
    width: 200px;
    margin-top: 10px;
}

.image-container {
    border: 1px solid #24170f;
    padding: 10px;

}

.labels {
    height: 30px;
    width: 50%;
    display: grid;
    justify-content: flex-start;
}

.inputs {
    width: 50%;
    display: grid;
    height: 40px;
}

.actions-form-container {
    width: 50%;
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
}

.cancel-form-button {
    border: 1px solid #24170f;
    padding: 7px;
    border-radius: 18px;
    cursor: pointer;
    margin-right: 3%;
    width: 33%;
    background-color: transparent;
    transition: 1.5s;
}
.cancel-form-button:hover {
    border: 1px solid #24170f;
    padding: 7px;
    color: rgba(241,218,191,1);
    border-radius: 18px;
    background-color: #24170f;
    cursor: pointer;
    width: 60%;
    transition: 1.5s;
    font-size: 18px;
}

.create-form-button {
    border: 1px solid #24170f;
    padding: 7px;
    border-radius: 18px;
    cursor: pointer;
    width: 33%;
    background-color: transparent;
    transition: 1.5s;
}
.create-form-button:hover {
    border: 1px solid #24170f;
    padding: 7px;
    color: rgba(241,218,191,1);
    border-radius: 18px;
    background-color: #24170f;
    cursor: pointer;
    width: 60%;
    transition: 1.5s;
    font-size: 18px;
}

@media only screen and (max-width:375px){
    .labels {
        height: 30px;
        width: 100%;
        display: grid;
        justify-content: flex-start;
    }
    .pages {
        background-color: #F2E5D5;
        width: 67%;
        border-left: 1px solid #24170f;
    }
.table-container {
    border: 1px solid #24170f;
    overflow: hidden;
    font-size: 6px;
}
.dashboard-content {
    flex-wrap: nowrap;
}
.sidebar {
    width: 38.9%;
    background-color: #F2E5D5;
}
.store-form {
    display: block;
    flex-wrap: wrap;
}
.first-row {
    width: 100%;
    text-align: left;
}
td{
    border: 1px solid #dddd;
    text-align: left;
    padding: 0px;
}
.sidebar-content {
    padding-left: 0%;
    text-align: initial;
}
.cancel-form-button {
    width: 47%;
}
.create-form-button{
    width: 47%;
}
.actions-form-container {
    margin-top: 14%;
    width: 100%;
}
.css-b62m3t-container {
    width: 100%;
    position: relative;
    box-sizing: border-box;
}
.second-row {
    margin-bottom: 10%;
    width: 100%;
    float: left;
}
.text-area-input {
    width: 100%;
    display: grid;
}
.second-row-element #name {
    margin-top: 17px;
}
.css-13cymwt-control {
    margin-top: 12%;
}
.inputs {
    margin-top: 5%;
    width: 100%;
    display: grid;
    height: 40px;
}
}

@media only screen and (max-width:425px) and (min-width:376px){
    .image-container {
        border: 1px solid #24170f;
        padding: 10px;
        margin-bottom: 10%;
    }
    .dashboard-content {
        flex-wrap: nowrap;
    }
    .sidebar {
        width: 29.9%;
        background-color: #F2E5D5;
    }
    .store-form {
        display: block;
        flex-wrap: wrap;
    }
    .first-row {
        width: 100%;
        text-align: left;
    }
    td{
        border: 1px solid #dddd;
        text-align: left;
        padding: 0px;
    }
    .table-container {
        border: 1px solid #24170f;
        overflow: hidden;
        font-size: 10px;
    }
    .sidebar-content {
        padding-left: 0%;
        text-align: initial;
    }
    .cancel-form-button {
        width: 47%;
    }
    .create-form-button{
        width: 47%;
    }
    .actions-form-container {
        margin-top: 14%;
        width: 100%;
    }
    .css-b62m3t-container {
        width: 100%;
        position: relative;
        box-sizing: border-box;
    }
    .second-row {
        width: 100%;
        float: left;
    }
    .text-area-input {
        width: 100%;
        display: grid;
    }
    .second-row-element #name {
        margin-top: 17px;
    }
    .css-13cymwt-control {
        margin-top: 12%;
    }
    .inputs {
        margin-top: 5%;
        width: 100%;
        display: grid;
        height: 40px;
    }
    }

    @media only screen and (max-width:768px) and (min-width:426px){
        .dashboard-content {
            height: auto;
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
        }
        .inputs {
            width: 100%;
            margin-top: 6%;
            display: grid;
            height: 40px;
        }
        .store-form {
            display: block;
          
        }
        .category-form {
            display: block;
        }
        .product-form {
            display: flex;
        }
        .css-b62m3t-container {
            width: 100%;
            margin-top: 9%;
            position: relative;
            box-sizing: border-box;
        }
        .labels {
            height: 30px;
            width: 100%;
            display: grid;
            justify-content: flex-start;
        }
        .text-area-input {
            width: 100%;
            display: grid;
        }
        .second-row {
            width: 50%;
            margin-left: 4%;
            margin-top: -1%;
        }
        .first-row {
            width: 46%;
            text-align: left;
        }
    }
    @media only screen and (max-width:1024px) and (min-width:769px){
        .inputs {
            width: 90%;
            display: grid;
            height: 40px;
        }
        .image-container {
            margin-top: 8%;
            border: 1px solid #24170f;
            padding: 10px;
        }
        .css-b62m3t-container {
            width: 90%;
            position: relative;
            box-sizing: border-box;
        }
        .text-area-input {
            width: 90%;
            display: grid;
        }
    }
    @media only screen and (max-width:1440px) and (min-width:1025px){
        .inputs {
            width: 90%;
            display: grid;
            height: 40px;
        }
        .store-form .second-row {
            margin-top: 3%;
            width: 50%;
            float: left;
        }
        .css-b62m3t-container {
            width: 90%;
            position: relative;
            box-sizing: border-box;
        }
        .text-area-input {
            width: 90%;
            display: grid;
        }
        .product-form-container .second-row {
            /* margin-top: 3%; */
            width: 50%;
            float: left;
        }
    }