.footer>*{
    color: rgba(241,218,191,1);
}
.footer{
    background-color: #24170f;
    width: 100%;
    padding: 5% 0;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}
.icons svg{
    margin: 15px;
}
.footer-info{
    display: flex;
    justify-content: space-around;
}
.footer-info svg{
    margin-right: 7px;
}
.footer-info p{
   display: flex;
   align-items: center;
}