.auth-form-container, .loginForm, .registerForm{
    display: flex;
    flex-direction: column;
  }
  .registerForm input{
    padding: 0.8rem;
    border: none;
    width: 100%;
    
  }
  .registerBtn{
    border:none;
    background-color: #362417;
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    filter: blur(0.6px);
}
.registerBtn:hover{
  filter: blur(0px);
  transition: 2s;
}
  .registerForm select{
    padding: 0.8rem;
    border: none;
    border-radius: 10px;
    width: 100%;
  }
  .input-flex{
    margin: 0.7rem 0;
    padding: 5px 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
 }
 input:focus, select:focus{
    outline: 0px !important
   }

   .register-txt{
    font-size: 63px;
    background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, #24170f, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: "Source Sans Pro", sans-serif;
    animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
    font-family: 'Montserrat', sans-serif;
  }
  
  @keyframes reveal {
    80% {
      letter-spacing: 8px;
    }
    100% {
      background-size: 300% 300%;
    }
  }
  
  @keyframes glow {
    40% {
      text-shadow: 0 0 8px #24170f;
    }
  }

  .linkregisterBtn {
    text-decoration: none;
    border: none;
    margin-left: 56%;
    background: none;
    color: #362417;
    padding-top: 10px;
    margin-top: -7%;
    margin-bottom: 4%;
}

.auth-form-container.register{
  width: 40%;
}